/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
$size__width: 1024px;
$size__height: 768px;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$black: #222222;
$white: #FFFFFF;
$yellow: #FECE00;
$blue: #01b0f3;
$lightblue: #99b6e9;
$copygray: #393939;

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*
@font-face {
    font-family: 'HelveticaNeueLTPro-Cn';
    src: url('../../content/fonts/HelveticaNeueLTPro-Cn.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTPro-ThCn';
    src: url('../../content/fonts/HelveticaNeueLTPro-ThCn.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicLTStd-Bold';
    src: url('../../content/fonts/TradeGothicLTStd-Bold.otf') format('opentype');
    font-style: normal;
}
*/

$font__main: 'Catamaran', sans-serif;